/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2020, 4:30:58 PM
    Author     : Alshaimaa
*/

/*.chart-pie-label-line {
    -fx-stroke: #ffffff;
    -fx-text-fill: #ffffff;
    
}*/
.chart-pie-label {-fx-fill: #ffffff;}
.titleTextStyle{
    color: '#ffffff';
}

